<% provide(:title, 'Home') %>
<!--h1>StaticPages#home</h1-->
<!--a href="http://railstutorial.org/">Ruby on Rails Tutorial</a-->
<!--%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %-->

<p>Source app/views/static_pages/home.html.erb</p>

<h1><%= t('Home page') %></h1>


<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Список заявок</h3>
      <%= render 'shared/feed' %>
    </div>
    
  </div>
<% else %>
  <div class="center hero-unit">
    <h2><%= t('start_message_1') %></h2>

    <%= link_to t('Sign in'), signin_path,
                class: "btn btn-large btn-primary" %>
  </div>
  <div class="center hero-unit">
    <h2><%= t('start_message_2') %></h2>
    <%= link_to t('Sign up'), signup_path%>
  </div>
<% end %>