<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<%= "index.html.erb" %>

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<%= "_user.html" %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<!--
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
-->

