<% provide(:title, @user.name) %>
<!--
<%= @user.name %>, <%= @user.email %>
-->
<p>Find me in app/views/users/show.html.erb</p>

<div>
    <section>
      <%= render 'shared/user_info' %>
    </section>
</div>

<div>
  <p>Find me in app/views/users/show.html.erb</p>
  <h3>Список заявок</h3>
  <!--%= render 'shared/feed' %-->
  <% if @user_orders.any? %>
      <!--h3>user_orders (<%= @user_orders.count %>)</h3-->
      <%= will_paginate @user_orders %>
      <ol class="orders">
        <%= render @user_orders %>
      </ol>
      <%= will_paginate @user_orders %>
  <% end %>
</div>
