<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<p>Find me in app/views/shared/_user_info.html.erb</p>

<!--%= link_to gravatar_for(current_user, size: 52), current_user %-->

<h3>
  <%= "Данные оператора" %>
</h3>

<p>
  <strong>Оператор:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>current_user.reader:</strong>
  <%= current_user.reader %>
</p>
<p>
  <strong>current_user.admin:</strong>
  <%= current_user.admin %>
</p>

<p>
  <strong>Профиль:</strong>
  <!--%= link_to "Посмотреть профиль", current_user %-->
  <%= link_to "Редактировать профиль", edit_user_path(current_user) %>
</p>

<p>
  <strong>Создано заявок:</strong>
  <%= current_user.orders.count %>
</p>



<span>
  <!--%= pluralize(current_user.microposts.count, "micropost") %-->
</span>
