<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<% if find_me? %>
    <p>Find me in app/views/shared/_user_info.html.erb</p>
<% end %>

<!--%= link_to gravatar_for(current_user, size: 52), current_user %-->
<% @user ||= current_user %>

<h3>
  <%= "Данные оператора" %>
</h3>

<p>
  <strong>Оператор:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>reader:</strong>
  <%= @user.reader %>
</p>
<p>
  <strong>admin:</strong>
  <%= @user.admin %>
</p>

<% if current_user?(@user)%>
    <p>
      <strong>Профиль:</strong>
      <!--%= link_to "Посмотреть профиль", current_user %-->
      <%= link_to "Редактировать профиль", edit_user_path(@user) %>
    </p>
<% end %>

<p>
  <strong>Создано заявок:</strong>
  <%= @user.orders.count %>
</p>



<span>
  <!--%= pluralize(current_user.microposts.count, "micropost") %-->
</span>
