<% if find_me? %>
    <p>Find me in app/views/orders/_form.html.erb</p>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker({
            format: "yyyy-mm-dd",
            startView: 0,
            language: "ru",
            todayHighlight: true
        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-behaviour~=datepicker2]').datepicker({
            format: "yyyy-mm-dd",
            startView: 2,
            language: "ru",
            todayHighlight: true
        });
    })
</script>

<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Форма содержит ошибки: <%= @order.errors.count %> шт.
        <!--%= pluralize(@order.errors.count, "error") %-->
      </div>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      <strong>Данные абонента:</strong>
  </p>
    <div class="row">
      <div class="span5">
        <div class="field">
          <%= f.label :abonent %>
          <%= f.text_field :abonent %>
        </div>
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
        <div class="field">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
          <!--%= f.telephone_field(:phone) %-->
        </div>
        <div class="field">
          <%= f.label :phone_mobile %>
          <%= f.text_field :phone_mobile %>
        </div>
      </div>
    </div>

  <br>
  <p>
    <strong>Данные подключения:</strong>
  </p>
  <div class="field">
    <%= f.label :connection_date %>
    <!--%= f.datetime_select :connection_date %-->
    <!--%= f.date_select :connection_date %-->
    <!--%= f.datetime_local_field :connection_date %-->
    <!--%= f.text_field :connection_date %-->
    <input name="order[connection_date]" id="order_connection_date"
           type="text" data-behaviour="datepicker"
           value=<%= @order.connection_date %>>
  </div>
    <div class="row">
      <div class="span5">
        <div class="field">
          <%= f.label :inet_tariff_plan %>
          <%= f.text_field :inet_tariff_plan %>
        </div>
        <div class="field">
          <%= f.label :inet_device_contract %>
          <!--%= f.text_field :inet_device_contract %-->
          <!--%= f.text_field :inet_device_contract %-->
          <!--Аренда Продажа Рассрочка-->
          <%= f.select(:inet_device_contract, [['нет', nil], ['аренда', 'Аренда'], ['продажа', 'Продажа'], ['рассрочка', 'Рассрочка']]) %>
        </div>
        <div class="field">
          <%= f.label :inet_installment_plan %>
          <%= f.number_field :inet_installment_plan %>
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
        <div class="field">
          <%= f.label :iptv_tariff_plan %>
          <%= f.text_field :iptv_tariff_plan %>
        </div>
        <div class="field">
          <%= f.label :iptv_device_contract %>
          <!--%= f.text_field :iptv_device_contract %-->
          <!--Аренда Продажа Рассрочка-->
          <%= f.select(:iptv_device_contract, [['нет', nil], ['аренда', 'Аренда'], ['продажа', 'Продажа'], ['рассрочка', 'Рассрочка']]) %>
        </div>
        <div class="field">
          <%= f.label :iptv_installment_plan %>
          <%= f.number_field :iptv_installment_plan %>
        </div>
      </div>
    </div>

    <br>
    <p>
      <strong>Паспортные данные:</strong>
    </p>
    <div class="row">
      <div class="span5">
        <div class="field">
          <%= f.label :passport_series %>
          <%= f.text_field :passport_series %>
        </div>
        <div class="field">
          <%= f.label :passport_registration_date %>
          <!--%= f.datetime_select :passport_registration_date %-->
          <!--%= f.date_select :passport_registration_date %-->
          <!--%= f.text_field :passport_registration_date %-->
          <input name="order[passport_registration_date]" id="order_passport_registration_date"
                 type="text" data-behaviour="datepicker2"
                 value=<%= @order.passport_registration_date %>>
        </div>
        <div class="field">
          <%= f.label :passport_issued_by %>
          <%= f.text_field :passport_issued_by %>
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
        <div class="field">
          <%= f.label :passport_number %>
          <%= f.text_field :passport_number %>
        </div>
        <div class="field">
          <%= f.label :date_of_birth %>
          <!--%= f.datetime_select :date_of_birth %-->
          <!--%= f.date_select :date_of_birth %-->
          <!--%= f.text_field :date_of_birth, value: nil%-->
          <!--%= f.text_field :date_of_birth%-->
          <input name="order[date_of_birth]" id="order_date_of_birth"
                 type="text" data-behaviour="datepicker2"
                 value=<%= @order.date_of_birth %>>
        </div>
        <div class="field">
          <%= f.label :place_of_birth %>
          <%= f.text_field :place_of_birth %>
        </div>
      </div>
    </div>

  <div class="actions">
    <!--%= f.submit %-->
    <%= f.submit t('Save changes'), class: "btn btn-large btn-primary" %>
  </div>


    <div hidden class="row">
      <div class="span5">
        <div class="field">
          <%= f.label :created_at %>
          <%= f.text_field :created_at, readonly: true %>
        </div>
        <div class="field">
          <%= f.label :updated_at %>
          <%= f.text_field :updated_at, readonly: true %>
        </div>
        <div class="field">
          <%= f.label :contract_date %>
          <!--%= f.datetime_select :contract_date %-->
          <!--%= f.date_select :contract_date %-->
          <!--%= f.date_select :contract_date, value: nil, readonly: true %-->
          <%= f.text_field :contract_date, readonly: true %>
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
        <div class="field">
          <%= f.label :user_id %>
          <!--%= f.number_field :user_id %-->
          <!--%= f.number_field :user_id, value: current_user.id, readonly: true %-->
          <%= f.number_field :user_id, readonly: true %>
        </div>
        <div class="field">
          <%= f.label :reader_id %>
          <!--%= f.number_field :reader_id %-->
          <!--%= f.number_field :reader_id, value: nil, readonly: true %-->
          <%= f.number_field :reader_id, readonly: true %>
        </div>
        <div class="field">
          <%= f.label :order_status %>
          <!--%= f.text_field :order_status %-->
          <!--%= f.text_field :order_status, value: "Новая", readonly: true %-->
          <%= f.text_field :order_status, readonly: true %>
        </div>
      </div>
    </div>

    <!--div>
    <strong>current_user_id: <%= current_user.id %></strong>
    <strong>order.user_id: <%= @order.user_id %></strong>
  </div-->

    <br>
    <p>
      <strong>Дополнительные данные:</strong>
    </p>
    <p>
      <strong>Order_id:</strong>
      <%= @order.id %>
      <strong>User_id:</strong>
      <%= @order.user_id %>
      <strong>Reader_id:</strong>
      <%= @order.reader_id %>
    </p>

    <div class="row">
      <div class="span5">
        <p>
          <!--strong>Reader:</strong-->
          <strong>Дата создания:</strong>
          <%= @order.created_at %>
        </p>
        <p>
          <!--strong>Reader:</strong-->
          <strong>Дата обновления:</strong>
          <%= @order.updated_at %>
        </p>
        <p>
          <!--strong>Reader:</strong-->
          <strong>Дата продажи:</strong>
          <%= @order.contract_date %>
        </p>
      </div>
      <div class="span1">
      </div>
      <div class="span5">
        <p>
          <strong>Агент:</strong>
          <%= @order.user.name %>
        </p>
        <p>
          <strong>Проверяющий:</strong>
          <%= reader_name @order %>
        </p>
        <p>
          <strong>Статус заявки:</strong>
          <%= @order.order_status %>
        </p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="span5">...
      </div>
      <div class="span1">...
      </div>
      <div class="span5">...
      </div>
    </div>
    -->
    <br>
<% end %>
