<p>Find me in app/views/orders/edit.html.erb</p>

<h1>Редактирование заявки</h1>

<%= link_to t('Show'), @order %> |
<%= link_to t('Back'), orders_path %>

<br>
<p><%= render 'form' %></p>

<%= link_to t('Show'), @order %> |
<%= link_to t('Back'), orders_path %>
