<% provide(:title, 'All orders') %>

<h1>Список заявок</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Агент</th>
      <th>Проверяющий</th>
      <th>Статус заявки</th>
      <th>Дата продажи</th>

      <th>ФИО абонента</th>
      <th>Адрес подключения</th>
      <th>Телефон домашний</th>
      <th>Телефон сотовый</th>

      <th>Дата подключения</th>
      <!--
      <th>Тарифный план ШПД</th>
      <th>Договор на Оборудование</th>
      <th>Длительность рассрочки</th>
      <th>Тарифный план IPTV</th>
      <th>Договор на Оборудование</th>
      <th>Длительность рассрочки</th>
      -->
      <!--
      <th>Серия паспорта</th>
      <th>Номер паспорта</th>
      <th>Когда выдан</th>
      <th>Кем выдан</th>
      <th>Дата рождения</th>
      <th>Место рождения</th>
      <td><!--%= order.user_id %></td>
      -->
      <th>Order_id</th>
      <th>User_id</th>
      <th>Reader_id</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.reader.name %></td>
        <td><%= order.order_status %></td>
        <td><%= order.contract_date %></td>

        <td><%= order.abonent %></td>
        <td><%= order.address %></td>
        <td><%= order.phone %></td>
        <td><%= order.phone_mobile %></td>
        <td><%= order.connection_date %></td>
        <!--
        <td><%= order.inet_tariff_plan %></td>
        <td><%= order.inet_device_contract %></td>
        <td><%= order.inet_installment_plan %></td>
        <td><%= order.iptv_tariff_plan %></td>
        <td><%= order.iptv_device_contract %></td>
        <td><%= order.iptv_installment_plan %></td>
        -->
        <!--
        <td><%= order.passport_series %></td>
        <td><%= order.passport_number %></td>
        <td><%= order.passport_registration_date %></td>
        <td><%= order.passport_issued_by %></td>
        <td><%= order.date_of_birth %></td>
        <td><%= order.place_of_birth %></td>
        -->
        <td><%= order.id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.reader_id %></td>

        <td><%= link_to t('Show'), order %></td>

        <% if current_user?(order.user) || current_user.admin || current_user.reader%>
            <td><%= link_to t('Edit'), edit_order_path(order) %></td>
        <% end %>
        <% if current_user?(order.user) || current_user.admin %>
            <td><%= link_to t('Destroy'), order, method: :delete,
                                                 data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<br>

<%= link_to 'New Order', new_order_path %>

<!--
order_status:               "Статус заявки: Новая / Принята / Отклонена"
contract_date:              "Дата продажи"

abonent:                    "ФИО абонента"
address:                    "Адрес подключения"
phone:                      "Телефон домашний"
phone_mobile:               "Телефон сотовый"

connection_date:            "Предполагаемая дата подключения"
inet_tariff_plan:           "Тарифный план ШПД"
inet_device_contract:       "Оборудование: продажа/рассрочка/аренда"
inet_installment_plan:      "Рассрочка на сколько месяцев"

iptv_tariff_plan:           "Тарифный план IPTV"
iptv_device_contract:       "Оборудование: продажа/рассрочка/аренда"
iptv_installment_plan:      "Рассрочка на сколько месяцев"

passport_series:            "Серия паспорта"
passport_number:            "Номер паспорта"
date_of_birth:              "Дата рождения"
place_of_birth:             "Место рождения"
passport_registration_date: "Когда выдан паспорт"
passport_issued_by:         "Кем выдан"

order_writer:               "ФИО агента, подключившего услугу"
order_reader:               "ФИО супервайзера агента"
-->
