<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Reader</th>
      <th>Order status</th>
      <th>Contract date</th>
      <th>Abonent</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Phone mobile</th>
      <th>Connection date</th>
      <th>Inet tariff plan</th>
      <th>Inet device contract</th>
      <th>Inet installment plan</th>
      <th>Iptv tariff plan</th>
      <th>Iptv device contract</th>
      <th>Iptv installment plan</th>
      <th>Passport series</th>
      <th>Passport number</th>
      <th>Passport registration date</th>
      <th>Passport issued by</th>
      <th>Date of birth</th>
      <th>Place of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.reader_id %></td>
        <td><%= order.order_status %></td>
        <td><%= order.contract_date %></td>
        <td><%= order.abonent %></td>
        <td><%= order.address %></td>
        <td><%= order.phone %></td>
        <td><%= order.phone_mobile %></td>
        <td><%= order.connection_date %></td>
        <td><%= order.inet_tariff_plan %></td>
        <td><%= order.inet_device_contract %></td>
        <td><%= order.inet_installment_plan %></td>
        <td><%= order.iptv_tariff_plan %></td>
        <td><%= order.iptv_device_contract %></td>
        <td><%= order.iptv_installment_plan %></td>
        <td><%= order.passport_series %></td>
        <td><%= order.passport_number %></td>
        <td><%= order.passport_registration_date %></td>
        <td><%= order.passport_issued_by %></td>
        <td><%= order.date_of_birth %></td>
        <td><%= order.place_of_birth %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
