<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Reader:</strong>
  <%= @order.reader_id %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Contract date:</strong>
  <%= @order.contract_date %>
</p>

<p>
  <strong>Abonent:</strong>
  <%= @order.abonent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Phone mobile:</strong>
  <%= @order.phone_mobile %>
</p>

<p>
  <strong>Connection date:</strong>
  <%= @order.connection_date %>
</p>

<p>
  <strong>Inet tariff plan:</strong>
  <%= @order.inet_tariff_plan %>
</p>

<p>
  <strong>Inet device contract:</strong>
  <%= @order.inet_device_contract %>
</p>

<p>
  <strong>Inet installment plan:</strong>
  <%= @order.inet_installment_plan %>
</p>

<p>
  <strong>Iptv tariff plan:</strong>
  <%= @order.iptv_tariff_plan %>
</p>

<p>
  <strong>Iptv device contract:</strong>
  <%= @order.iptv_device_contract %>
</p>

<p>
  <strong>Iptv installment plan:</strong>
  <%= @order.iptv_installment_plan %>
</p>

<p>
  <strong>Passport series:</strong>
  <%= @order.passport_series %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @order.passport_number %>
</p>

<p>
  <strong>Passport registration date:</strong>
  <%= @order.passport_registration_date %>
</p>

<p>
  <strong>Passport issued by:</strong>
  <%= @order.passport_issued_by %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @order.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @order.place_of_birth %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
