<% if find_me? %>
    <p>Find me in app/views/orders/show.html.erb</p>
<% end %>
<!--p id="notice"><%= notice %></p-->

<p>
  <%= link_to t('Back'), orders_path%>
  <!--, class: "btn btn-large btn-primary"-->
  <% if current_user?(@order.user) || current_user.admin || current_user.reader%>
      | <%= link_to t('Edit'), edit_order_path(@order) %>
  <% end %>
  <% if current_user?(@order.user) || current_user.admin %>
      | <%= link_to t('Destroy'), @order, method: :delete,
                    data: { confirm: 'Вы уверены?' } %>
  <% end %>
</p>

<p>
  <!--strong>User:</strong-->
  <strong>Агент:</strong>
  <%= @order.user.name %>
</p>

<p>
  <!--strong>Order status:</strong-->
  <strong>Статус заявки:</strong>
  <%= @order.order_status %>
</p>

<p>
  <!--strong>Reader:</strong-->
  <!--%= @order.reader.name %-->
  <strong>Проверяющий:</strong>
  <%= reader_name @order %>
</p>

<p>
  <!--strong>Contract date:</strong-->
  <strong>Дата продажи:</strong>
  <%= @order.contract_date %>
</p>

    <br>
    <p>
      <strong>Данные абонента:</strong>
    </p>
<p>
  <!--strong>Abonent:</strong-->
  <!--strong><%= t(:abonent) %></strong-->
  <strong>ФИО абонента:</strong>
  <%= @order.abonent %>
</p>

<p>
  <!--strong>Address:</strong-->
  <strong>Адрес подключения:</strong>
  <%= @order.address %>
</p>

<p>
  <!--strong>Phone:</strong-->
  <strong>Телефон домашний:</strong>
  <%= @order.phone %>
  <!--strong>Phone mobile:</strong-->
  <strong>Телефон сотовый:</strong>
  <%= @order.phone_mobile %>
</p>

    <br>
    <p>
      <strong>Подключение:</strong>
    </p>
<p>
  <!--strong>Connection date:</strong-->
  <strong>Дата подключения:</strong>
  <%= @order.connection_date %>
</p>

<p>
  <!--strong>Inet tariff plan:</strong-->
  <strong>Тарифный план ШПД:</strong>
  <%= @order.inet_tariff_plan %>
</p>

<p>
  <!--strong>Inet device contract:</strong-->
  <strong>Договор на Оборудование ШПД:</strong>
  <%= @order.inet_device_contract %>
  <!--strong>Inet installment plan:</strong-->
  <!--strong>Длительность рассрочки:</strong-->
  <%= @order.inet_installment_plan %>
</p>

<p>
  <!--strong>Iptv tariff plan:</strong-->
  <strong>Тарифный план IPTV:</strong>
  <%= @order.iptv_tariff_plan %>
</p>

<p>
  <!--strong>Iptv device contract:</strong-->
  <strong>Договор на Оборудование IPTV:</strong>
  <%= @order.iptv_device_contract %>
  <!--strong>Iptv installment plan:</strong-->
  <!--strong>Длительность рассрочки:</strong-->
  <%= @order.iptv_installment_plan %>
</p>

<br>
<p>
  <strong>Паспортные данные:</strong>
</p>

<p>
  <!--strong>Passport series:</strong-->
  <strong>Серия паспорта:</strong>
  <%= @order.passport_series %>
  <!--strong>Passport number:</strong-->
  <strong>Номер паспорта:</strong>
  <%= @order.passport_number %>
</p>

<p>
  <!--strong>Passport registration date:</strong-->
  <strong>Когда выдан:</strong>
  <%= @order.passport_registration_date %>
  <!--strong>Passport issued by:</strong-->
  <strong>Кем выдан:</strong>
  <%= @order.passport_issued_by %>
</p>

<p>
  <!--strong>Date of birth:</strong-->
  <strong>Дата рождения:</strong>
  <%= @order.date_of_birth %>
  <!--strong>Place of birth:</strong-->
  <strong>Место рождения:</strong>
  <%= @order.place_of_birth %>
</p>

<br>
<p>
  <strong>Дополнительные данные:</strong>
</p>
<p>
  <!--strong>Reader:</strong-->
  <strong>created_at:</strong>
  <%= @order.created_at %>
</p>
<p>
  <!--strong>Reader:</strong-->
  <strong>updated_at:</strong>
  <%= @order.updated_at %>
</p>
<p>
  <strong>Order_id:</strong>
  <%= @order.id %>
  <strong>User_id:</strong>
  <%= @order.user_id %>
  <strong>Reader_id:</strong>
  <%= @order.reader_id %>
</p>

<!--%= link_to 'Принять', '#' %-->
<!--%= link_to 'Отклонить', '#' %-->
<p>
  <strong>current_user.reader:</strong>
  <%= current_user.reader %>
<p>
</p>
  <strong>current_user.admin:</strong>
  <%= current_user.admin %>
</p>

<br>
<div class="row">
  <div class="span2">
    <% if (current_user.reader && @order.order_status == "Новая") ||
            (current_user.admin  && @order.order_status == "Отклонена")%>
        <!--%= f.text_area :content, value: "new micropost!" %-->
        <%= form_for(@order) do |f| %>
            <div class="field">
              <!--%= f.label :reader_id %-->
              <!--%= f.number_field :reader_id, value: current_user.id, readonly: true %-->
              <%= f.hidden_field :reader_id, value: current_user.id, readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :order_status %-->
              <!--%= f.text_field :order_status, value: "Принята", readonly: true %-->
              <%= f.hidden_field :order_status, value: "Принята", readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :contract_date %-->
              <!--%= f.datetime_select :contract_date, value: Time.now %-->
              <!--%= f.text_field :contract_date, value: Time.now %-->
              <%= f.hidden_field :contract_date, value: Time.now %>
            </div>
            <div class="actions">
              <!--%= f.submit %-->
              <%= f.submit "Принять", class: "btn btn-large btn-primary" %>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="span2">
    <% if (current_user.reader && @order.order_status == "Новая") ||
            (current_user.admin  && @order.order_status == "Принята")%>
        <%= form_for(@order) do |f| %>
            <div class="field">
              <!--%= f.label :reader_id %-->
              <!--%= f.number_field :reader_id, value: current_user.id, readonly: true %-->
              <%= f.hidden_field :reader_id, value: current_user.id, readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :order_status %-->
              <!--%= f.text_field :order_status, value: "Принята", readonly: true %-->
              <%= f.hidden_field :order_status, value: "Отклонена", readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :contract_date %-->
              <!--%= f.datetime_select :contract_date, value: Time.now %-->
              <!--%= f.text_field :contract_date, value: Time.now %-->
              <%= f.hidden_field :contract_date, value: Time.now %>
            </div>
            <div class="actions">
              <!--%= f.submit %-->
              <%= f.submit "Отклонить", class: "btn btn-large btn-primary" %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>