<% if find_me? %>
    <p>Find me in app/views/orders/show.html.erb</p>
<% end %>
<!--p id="notice"><%= notice %></p-->

<p>
  <%= link_to t('Back'), orders_path%>
  <!--, class: "btn btn-large btn-primary"-->
  <% if current_user?(@order.user) || current_user.admin || current_user.reader%>
      | <%= link_to t('Edit'), edit_order_path(@order) %>
  <% end %>
  <% if current_user?(@order.user) || current_user.admin %>
      | <%= link_to t('Destroy'), @order, method: :delete,
                    data: { confirm: 'Вы уверены?' } %>
  <% end %>
</p>

<!--table class="table table-bordered table-striped table-condensed"-->
<table class="table table-bordered table-condensed">
  <!--caption><h3>Список заявок</h3></caption-->
  <thead>
  <tr>
    <th>Параметр</th>
    <th>Значение</th>
  </tr>
  </thead>
  <tbody>
        <tr class="silver">
          <td colspan="2"></td>
        </tr>
      <tr>
        <th><strong>Агент:</strong></th>
        <td><%= @order.user.name %></td>
      </tr>
      <% if @order.order_status == "Новая" %>
      <tr class="warning">
      <% elsif @order.order_status == "Принята"%>
      <tr class="success">
      <% elsif @order.order_status == "Отклонена"%>
      <!--tr class="info"-->
      <tr class="danger">
      <% else %>
      <tr class="silver">
      <% end %>
        <th><strong>Статус заявки:</strong></th>
        <td><%= @order.order_status %></td>
      </tr>
      <tr>
        <th><strong>Проверяющий:</strong></th>
        <td><%= reader_name @order %></td>
      </tr>
      <tr>
        <th><strong>Дата продажи:</strong></th>
        <td><%= @order.contract_date %></td>
      </tr>

      <tr class="silver">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><strong>ФИО абонента:</strong></th>
        <td><%= @order.abonent %></td>
      </tr>
      <tr>
        <th><strong>Адрес подключения:</strong></th>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <th><strong>Телефон домашний:</strong></th>
        <td><%= @order.phone %></td>
      </tr>
      <tr>
        <th><strong>Телефон сотовый:</strong></th>
        <td><%= @order.phone_mobile %></td>
      </tr>

        <tr class="silver">
          <td colspan="2"></td>
        </tr>
      <tr>
        <th><strong>Дата подключения:</strong></th>
        <td><%= @order.connection_date %></td>
      </tr>
      <tr>
        <th><strong>Тарифный план ШПД:</strong></th>
        <td><%= @order.inet_tariff_plan %></td>
      </tr>
      <tr>
        <th><strong>Договор на Оборудование ШПД:</strong></th>
        <td><%= @order.inet_device_contract %>
            <%= @order.inet_installment_plan %>
        </td>
      </tr>
      <tr>
        <th><strong>Тарифный план IPTV:</strong></th>
        <td><%= @order.iptv_tariff_plan %></td>
      </tr>
      <tr>
        <th><strong>Договор на Оборудование IPTV:</strong></th>
        <td><%= @order.iptv_device_contract %>
            <%= @order.iptv_installment_plan %>
        </td>
      </tr>
        <tr class="silver">
          <td colspan="2"></td>
        </tr>
      <tr>
        <th><strong>Серия и номер паспорта:</strong></th>
        <td><%= @order.passport_series %>
            <%= @order.passport_number %>
        </td>
      </tr>
      <tr>
        <th><strong>Когда выдан:</strong></th>
        <td><%= @order.passport_registration_date %></td>
      </tr>
      <tr>
        <th><strong>Кем выдан:</strong></th>
        <td><%= @order.passport_issued_by %></td>
      </tr>
      <tr>
        <th><strong>Дата рождения:</strong></th>
        <td><%= @order.date_of_birth %></td>
      </tr>
      <tr>
        <th><strong>Место рождения:</strong></th>
        <td> <%= @order.place_of_birth %></td>
      </tr>
  </tbody>
</table>

<div class="row">
  <div class="span2">
    <% if (current_user.reader && @order.order_status == "Новая") ||
            (current_user.admin  && @order.order_status == "Отклонена")%>
        <!--%= f.text_area :content, value: "new micropost!" %-->
        <%= form_for(@order) do |f| %>
            <div class="field">
              <!--%= f.label :reader_id %-->
              <!--%= f.number_field :reader_id, value: current_user.id, readonly: true %-->
              <%= f.hidden_field :reader_id, value: current_user.id, readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :order_status %-->
              <!--%= f.text_field :order_status, value: "Принята", readonly: true %-->
              <%= f.hidden_field :order_status, value: "Принята", readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :contract_date %-->
              <!--%= f.datetime_select :contract_date, value: Time.now %-->
              <!--%= f.text_field :contract_date, value: Time.now %-->
              <%= f.hidden_field :contract_date, value: Time.now %>
            </div>
            <div class="actions">
              <!--%= f.submit %-->
              <%= f.submit "Принять", class: "btn btn-large btn-primary" %>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="span2">
    <% if (current_user.reader && @order.order_status == "Новая") ||
            (current_user.admin  && @order.order_status == "Принята")%>
        <%= form_for(@order) do |f| %>
            <div class="field">
              <!--%= f.label :reader_id %-->
              <!--%= f.number_field :reader_id, value: current_user.id, readonly: true %-->
              <%= f.hidden_field :reader_id, value: current_user.id, readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :order_status %-->
              <!--%= f.text_field :order_status, value: "Принята", readonly: true %-->
              <%= f.hidden_field :order_status, value: "Отклонена", readonly: true %>
            </div>
            <div class="field">
              <!--%= f.label :contract_date %-->
              <!--%= f.datetime_select :contract_date, value: Time.now %-->
              <!--%= f.text_field :contract_date, value: Time.now %-->
              <%= f.hidden_field :contract_date, value: Time.now %>
            </div>
            <div class="actions">
              <!--%= f.submit %-->
              <%= f.submit "Отклонить", class: "btn btn-large btn-primary" %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<% if find_me? %>
    <br>
    <p>
      <strong>Дополнительные данные:</strong>
    </p>
    <p>
      <!--strong>Reader:</strong-->
      <strong>created_at:</strong>
      <%= @order.created_at %>
    </p>
    <p>
      <!--strong>Reader:</strong-->
      <strong>updated_at:</strong>
      <%= @order.updated_at %>
    </p>
    <p>
      <strong>Order_id:</strong>
      <%= @order.id %>
      <strong>User_id:</strong>
      <%= @order.user_id %>
      <strong>Reader_id:</strong>
      <%= @order.reader_id %>
    </p>

    <!--%= link_to 'Принять', '#' %-->
    <!--%= link_to 'Отклонить', '#' %-->
    <p>
      <strong>current_user.reader:</strong>
      <%= current_user.reader %>
    <p>
    </p>
    <strong>current_user.admin:</strong>
    <%= current_user.admin %>
    </p>
<% end %>